.review {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 1s;
  text-align: center;
}

.image_container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.image_container::before {
  content: "";
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
  background-color: rgb(23, 162, 255);
  width: 100%;
  height: 100%;
}

.image_person {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.quote_icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgb(23, 162, 255);
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
}
